{% extends 'news/base.html' %}
{% load  category_tag bootstrap4 %}
{% block post %}
    <h1 class="my-4">{{ post.title }}
        <small>{{ post.subtitle }}</small>
    </h1>
    <div class="card mb-4">
        {% if post.image %}
            <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
        {% endif %}
        <div class="card-body">
            <p class="card-text">
                {{ post.text }}
            </p>
        </div>
        <div class="card-footer text-muted">
            <a href="#">Start Bootstrap</a>
        </div>
    </div>
    <h3>Коментарии</h3>
    {% for comment in post.get_comments %}
        {{ comment.text }}
    {% endfor %}
    {% if user.is_authenticated %}
        <form action="{{ post.get_absolute_url }}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit">Отправить</button>
        </form>
    {% endif %}
    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
        </li>
    </ul>
{% endblock post %}
